header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    align-items: center;
    margin: auto;
}

header .left{
    display: flex;
    gap: 20px;
    align-items: center;  
}

.number{
    width: 40px;
    padding: 7px 5px;
    border: none;
    background: #E0E0E0;
    outline: none;
    border-radius: 10px;
    
}

.search{
    padding: 7px 5px;
    border-radius: 10px;
    border-color: #9E9E9E;

}

button{
    background-color: #624DE3;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: left;
}

.pic {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clrd_gr {
    width: 65px;
    padding: 5px;
    background-color: #EBF9F1;
    color: #1F9254;
    border-radius: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.clrd_or{
    width: 65px;
        padding: 5px;
        background-color: #FEF2E5;
        color: #CD6200;
        border-radius: 10px;
        text-align: center;
}